/* 
section-header 
[width]
1506px / 1920px (78.4375%)
*/

/* section header container */


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {


  .section-header {
    display: flex;
    flex-direction: column;
  
  
    margin-top: 64px;
    margin-left: 0;
    margin-right: auto;
    width: 95%;
  }
  
  /* 분반 정보 ex. 인문사회캠퍼스 3분반 */
  .class-name {
    /* size */
    width: 23.4896vw;
    height: 35px;
  
    /* font */
    /* font-size: 1.75rem; */
    font-size: 1.4583vw;
    font-weight: bold;
    line-height: 1.43;
    color: #154483;
  }
  
  /* 교수 정보 ex. 김재현 교수님 */
  .prof-name {
    /* font */
    /* font-size: 1.75rem; */
    font-size: 1.4583vw;
    line-height: 1.43;
    color: #154483;
  }
  
  /* 오른쪽 정렬 위한 컨테이너 */
  .end-line-container {
    display: flex;
    justify-content: flex-end;
  }
  
  /* 프로젝트 개수 ex. 총 48개의 작품이 있습니다 */
  .project-count {
    width: 20.0521vw;
    height: 42px;
  
    /* font-size: 1.5rem; */
    font-size: 1.25vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 42px;
    letter-spacing: normal;
    color: #707070;
  }
  
  /* 개수 부분 하이라이트 */
  .project-count strong {
    color: #154483;
  }
}


.section-header {
  display: flex;
  flex-direction: column;


  margin-top: 64px;
  margin-left: 0;
  margin-right: auto;
  width: 95%;
}

/* 분반 정보 ex. 인문사회캠퍼스 3분반 */
.class-name {
  /* size */
  width: 23.4896vw;
  height: 35px;

  /* font */
  /* font-size: 1.75rem; */
  font-size: 1.4583vw;
  font-weight: bold;
  line-height: 1.43;
  color: #154483;
}

/* 교수 정보 ex. 김재현 교수님 */
.prof-name {
  /* font */
  /* font-size: 1.75rem; */
  font-size: 1.4583vw;
  line-height: 1.43;
  color: #154483;
}

/* 오른쪽 정렬 위한 컨테이너 */
.end-line-container {
  display: flex;
  justify-content: flex-end;
}

/* 프로젝트 개수 ex. 총 48개의 작품이 있습니다 */
.project-count {
  width: 20.0521vw;
  height: 42px;

  /* font-size: 1.5rem; */
  font-size: 1.25vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 42px;
  letter-spacing: normal;
  color: #707070;
}

/* 개수 부분 하이라이트 */
.project-count strong {
  color: #154483;
}


@media screen and (max-width: 1200px) {
  .section-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
  }

  .class-name {
    /* size */
    width: 100%;
    /* font */
    font-size: 1.25rem;
    /* font-size: 1.4583vw; */
    font-weight: bold;
    color: #154483;
  }

  .prof-name {
    /* font */
    width: 100%;
    font-size: 1.25rem;
    color: #154483;
  }

  .end-line-container {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .project-count {
    width: 100%;
    font-size: 1em;
    color: #707070;
  }
}


