.main-page {
  display: flex;
  flex-direction: column;
}

.middle-section {
  display: flex;
  padding-bottom: 80px;
}

.contents .main_banner_area {
  width: 100%;
  text-align: center;
}

.contents .main_banner_area .main_banner_img {
  margin: 5vh auto;
  margin-bottom: 0;
}

.contents .video_area_wrapper {
  display: flex;
}

.congrat_video_area {
  margin-right: 40px;
}

#congrat_video_area_title {
  font-size: 3vh;
  margin-top: 50px;
}

#congrat_video_area_subtitle {
  font-size: 2.5vh;
  font-weight: bold;
  margin-top: 20px;
  color: #154483;
}
#congrat_video_area_title strong {
  font-weight: bold;
  color: #154483;
}

.congrat_video_wrapper {
  width: 30vw;
  height: 20vw;
}

@media screen and (max-width: 1200px) {
  .middle-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }

  .contents .main_banner_area .main_banner_img {
    width: 100vw;

    margin: 0;
  }

  .contents .video_area_wrapper {
    /* display: flex; */
    flex-direction: column;
  }

  .congrat_video_area {
    margin-right: 0px;
  }

  #congrat_video_area_title,
  #congrat_video_area_subtitle {
    text-align: center;
    margin-top: 15px;
  }

  #congrat_video_area_subtitle {
    margin-top: 5px;
  }

  .congrat_video_wrapper {
    width: 100vw;
    height: 70vw;
  }
}
