.sidenav {
  width: 15.4668vw;
  /* width: 20%; */
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 60px;
  margin-right: 70px;
  margin-left: 30px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 20px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: right;
  cursor: pointer;
  outline: none;
}

.dropdown-btn {
  border-top: solid 0.5px #9d9d9d;

  width: 100%;
  height: 21px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: 0.36px;
  text-align: left;
  color: #7d7b7c;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px;
  font-size: 18px;
  padding-left: 50px;
}

.dropdown-btn.active {
  background-color: rgb(160, 203, 59);
  color: #fdf8fa;
  font-weight: 500;
}

.dropdown-container {
  /* display: none; */
  background-color: #ffffff;
  color: rgb(21, 67, 131);
  padding-left: 8px;
  padding-right: 0px;
  text-align: left;
}
.dropdown-container a {
  width: 175px;
  height: 21px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: 0.36px;
  text-align: left;
  color: #9d9d9d;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}
.dropdown-container a:active {
  color: rgb(21, 67, 131);
}

.dropdown-btn {
  text-align: left;
  height: 42px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 20px;
}


@media screen and (max-width: 1200px) 
{
  .sidenav {
    width: 100vw;
    /* height: 200px; */

    margin: 0;
    padding: 0;
  }

  .dropdown-btn {
    text-align: left;
  }
  .sidenav a {
    text-align: center;
  }
}

@media screen and (max-width: 768px) 
{
    .sidenav {
    width: 100vw;
    /* height: 200px; */

    margin: 0;
    padding: 0;
  }

  .dropdown-btn {
    text-align: center;
    height : 30px;
    padding-left: 0;
  }

  .dropdown-btn.active {
    background-color: rgb(160, 203, 59);
    color: #fdf8fa;
    font-weight: 500;
  }
  
  .dropdown-container {
    /* display: none; */
    background-color: #ffffff;
    color: rgb(21, 67, 131);
    padding-left: 0;
    padding-right: 0px;
    text-align: center;
  }
  .dropdown-container a {
    width:  100%;
    height: 15px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: 0.36px;
    text-align: left;
    color: #9d9d9d;
    padding-top: 10px;
    padding-left:0;
 
    text-align: center;
    
  }
  .dropdown-container a:active {
    color: rgb(21, 67, 131);
  }
  .sidenav a {
    text-align: center;
  }
}